.App-header {
  width: 100%;
}
.App-icon {
  height: 5vmin;
  padding-bottom: 5vmin;
  text-align: center;
  margin-top: 2em;
}

.App-name {
  height: 10vmin;
  padding-left: 40%;
}

.Settings-icon {
  float: right;
  height: 2.5vmin;
}

.Settings-icon {
  float: right;
  height: 2.5vmin;
}

.ParkingPref {
  position: fixed;
  left: 5%;
  bottom: 5%;
}

.ParkingPref-Form {
  border: auto;
  border-style: solid;
}
