.App-icon {
  height: 5vmin;
  padding-bottom: 5vmin;
  text-align: center;
  margin-top: 2em;
}

.App-name {
  height: 10vmin;
  padding-right: 40%;
  padding-left: 40%;
}

.Settings-icon {
  height: 2.5vmin;
  padding-bottom: 7.5vmin;
  padding-left: 1.5%;
}

.Select-Lot-Dropdown {
  float: right;
  text-align: left;
  border: 50px;
  width: 150px;
}
