tr {
    display: block;
    float: left;
  }
  th {
    display: block;
    text-align: left;
    padding: 10px;
    width: 250px;
    border: 1px solid #000;
  }
  .parkingRow {
    display: flex;
    justify-content: left;
  }
  .space {
    background-color: #929292;
    height: 180px;
    width: 120px;
    margin: 30px;
  }
  .space.empty {
    background-color: #0a970a;
  }
  .space.full {
    background-color: #b20e6b;
  }