tr {
    display: block;
    float: left;
  }
  th {
    display: block;
    text-align: left;
    padding: 10px;
    width: 250px;
    border: 1px solid #000;
  }
  .parkingRow {
    display: flex;
    justify-content: left;
  }
  .space {
    border-style: solid;
    border-width: 30px;
    border-color: #8d8d8d;
    position: relative;
    height: 180px;
    width: 120px;
    margin: 15px;
  }
  .space.empty {
    border-color: #268d2b;
  }
  .space.full {
    border-color: #b13030;
  }
  .icon {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
  }